<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form  #form="ngForm" (ngSubmit)="login()"  >
    <div padding> 
    <ion-input  name="userid" [(ngModel)]="userid" type="text" placeholder="enter Login ID" ngModel required></ion-input>

    <ion-input  name="password" [(ngModel)]="password" type="password" placeholder="enter password" ngModel required></ion-input>

    <ion-button  slot="end" size="small" type="submit"  expand="block">Login</ion-button>
  </div>
    <div *ngIf="error" class="error" padding >
      {{error}}
    </div>

</form>


</ion-content>
