<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NEC Student list 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>


<div *ngIf="dataloading">
  <ion-label>Loading data</ion-label>
</div>
  <ion-list>
 <div *ngIf="!dataloading">

  <ion-item *ngFor="let days of forcast  "> 
  <ion-label>  {{days.temperature}}</ion-label>
  <ion-label>  {{days.temperatureUnit}}</ion-label>
  <ion-label>  {{days.windSpeed}}</ion-label>
  <ion-label>  {{days.windDirection}}</ion-label>
  <ion-label>  {{days.shortForecast}}</ion-label>
  <ion-label>  {{days.shordetailedForecasttForecast}}</ion-label>
</ion-item>
</div>
</ion-list>
  <div>
    <h1>Student name  : {{name}}</h1>
  </div>
  <ion-item>
    <ion-label>
      department : {{department}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      college name : {{college}}
    </ion-label>
  </ion-item>
  <!--ion-list>
    <ion-item *ngFor="let student of students"> 
    <ion-label> {{student.name}}- {{department.section}}</ion-label>
  </ion-item>
</!ion-list-->
<ion-list>
  <ion-item *ngFor="let country of countries"> 
  <ion-label> {{country.Country}}- {{country.Slug}}-{{country.ISO2}}</ion-label>
  <ion-button (click)='navigatetoChane(country.Country)' > Hitory </ion-button>
</ion-item>
</ion-list>

  <ion-button size="large"  (click)='navigatetoDep()'>Large</ion-button>

<div class="bingwidget" data-type="covid19" data-market="en-us" data-language="en-us"></div>
  

</ion-content>
